.html-video {
    display: inline-block;
    width: 48%;
    /* Adjust as needed */
    margin-right: 10px;
    /* Add some space if using inline-block */
    vertical-align: top;
    /* Important for inline-block to align tops */
}

.special {

    .single-title,
    .single-subtitle {
        text-align: left;
    }
}

.archive {

    .single-title,
    .single-subtitle {
        text-align: left;
    }
}

// Override summary border-bottom
.home[data-home=posts] {
  .summary {
    border-bottom: 1px dashed $single-link-color;

    [theme=dark] & {
      border-bottom: 1px dashed $single-link-color-dark;
    }
  }
}