name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Sync Hugo Modules
        run: go mod vendor

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.145.0'
          extended: true

      - name: Build Hugo site
        run: GOFLAGS="-mod=readonly" hugo --gc --minify

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run Lychee
        run: |
          cargo install lychee
          make test
